 <div class="class="col-md-10">
    {{form_start(formEdit,{'attr':{'class':'form-horizontal modifform'}})}}
        <span class="space">
            <label >Date : </label> 
            {{form_widget(formEdit.datepresta)}}
        </span>
        <span class="space">
            <label >Nombre de code : </label> 
            {{form_widget(formEdit.nbrecodeday)}}
        </span>
        <span>{{form_widget(formEdit.submit)}}</span>
  
    {{form_end(formEdit)}}
</div>