 <div class="row">

    {{form_start(formEdit,{'attr':{'class':'form-horizontal modifform'}})}}
        <div class="col-sm-4">
            <label >Date : </label> 
            {{form_widget(formEdit.datepresta)}}
        </div>
        <div class="col-sm-6">
          <div class="row">
                <div class="col-sm-12">
                    <label >Nombre de codes : </label> 
                   {{form_widget(formEdit.nbrecodeday,{'attr':{'class':'nbrecodeday'}})}}
                </div>
                <div class="col-sm-12">
                    <label >Nombre de codes utilisés : </label> 
                    {{compteur.nbrecodeused}}
                </div>
            </div>
        </div>
        <div class="col-sm-2">{{form_widget(formEdit.submit)}}</div>
  
    {{form_end(formEdit)}}
</div>


