{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Ventiller les dates pour le prestataire {{prestataire.nompresta}} du {{prestataire.startpresta|date('Y-m-d H:i:s')}} au {{prestataire.endpresta|date('Y-m-d H:i:s')}}</h3><br>
    <p>Nombre de codes non grillés : {{prestataire.getNbreCodeNotUsed}}</p><br>
    <br>
{{compteur.getNbreCodesDispo}}
    <h3> Dates Ventillées</h3>
    <table class="records_list" border="1">
        <thead>
            <tr>
                <th>Datepresta</th>
                <th>Nbrecodeday</th>
                <th>Nbrecodeused</th>
                <th>Nbre Codes dispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.datepresta |date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.nbrecodeday }}</td>
                <td>{{ entity.nbrecodeused }}</td>
                <td>{{ entity.getNbreCodesDispo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('compteur_show_by_presta', { 'idpresta': entity.prestataire.id,'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('compteur_edit_by_presta', { 'idpresta': entity.prestataire.id,'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('compteur_new_by_presta',{'id': prestataire.id }) }}">
                Ajouter une nouvelle date
            </a>
        </li>
    </ul>
    {% endblock %}
