{% extends '::base.html.twig' %}

{% block body -%}
    <div class="white_title long">
        <h4 class="center">Ventiller les dates pour le prestataire {{prestataire.nompresta}} du {{prestataire.startpresta|date('d/m/Y')}} au {{prestataire.endpresta|date('d/m/Y')}}</h4>
    </div>
    <div class="white_title short">
        <h4 class="center">Nombre de codes disponibles : {{prestataire.getNbreCodesDispo}}</h4>
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" >
            {{ flashMessage }}
        </div>
    {% endfor %}
     {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" >
                {{ flashMessage }}
            </div>
        {% endfor %}
    <br>  
        {% for entity in entities %}
            {% if date(entity.datepresta) > date() %}
                <div class="white inlineform row">
                    <div class="col-sm-10">{{ render(controller('DominosVodBundle:CompteurPrestataire:editForm', { 'compteur': entity })) }}</div>
                    <div class="col-sm-2">{{ render(controller('DominosVodBundle:CompteurPrestataire:deleteForm', { 'id': entity.id })) }}</div>    
                </div>  
            {% else %}
                <div class="white inlineform row">
                             <div class="col-sm-5">
                                <label >Date : </label> 
                                {{date(entity.datepresta) | date('d-m-Y')}}
                             </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label >Nombre de codes : </label> 
                                        {{entity.nbrecodeday}}
                                    </div>
                                    <div class="col-sm-12">
                                        <label >Nombre de codes utilisés : </label> 
                                        {{entity.nbrecodeused}}
                                    </div>
                                </div>
                            </div>
                </div>

            {% endif %}
          
        {% endfor %}
      <br>
       

    <div class="white_title">
        <h4 class="center">Ajouter une nouvelle date </h4>
     </div>
    <div class="white inlineform">
        {{form_start(formAdd,{'attr':{'class':'form-horizontal'}})}}
            <span class="space"><label >Date : </label> {{form_widget(formAdd.datepresta)}}</span>
            <span class="space"><label >Nombre de code : </label> {{form_widget(formAdd.nbrecodeday)}}</span>
            <span>{{form_widget(formAdd.submit)}}</span>
        {{form_end(formAdd)}}  
    </div> 
    <div class="white formbloc center">
     <a href="{{ path('prestataire') }}" class="btn btn-info">  Accueil </a>     
    </div>
    {% endblock %}
