{% extends '::base.html.twig' %}

{% block body -%}
<div class="white_title">
    <h4 class="center">Gestion d'un prestataire</h4>
</div>

        {{ form_errors(formpresta) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" >
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" >
            {{ flashMessage }}
        </div>
        {% endfor %}
    <div class="white">
        {{ form_start(formpresta,{'attr':{'class':'form-horizontal'}}) }}
         <div class="form-group">
            <div class="col-lg-2">
                {{ form_label(formpresta.nompresta,'Nom du prestataire') }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(formpresta.nompresta) }}
            </div>
        </div>
        <div class="form-group">
             <div class="col-lg-2">
                {{ form_label(formpresta.startpresta,'Date de début') }}
             </div>
            <div class="col-lg-10">
                {{ form_widget(formpresta.startpresta) }}
            </div>
        </div>
        <div class="form-group">
             <div class="col-lg-2">
                {{ form_label(formpresta.endpresta,'Date de Fin') }}
             </div>
            <div class="col-lg-10">
                {{ form_widget(formpresta.endpresta) }}
            </div>
        </div>
        {{ form_end(formpresta) }}
</div>

{% if prestataire.id != 0 %}
   <div class="formbloc">
<div class="white_title">
    <h4 class="center">Gestiondes menus</h4>
 </div>
 <div class="white">
    {{form_start(formmenu,{'attr':{'class':'form-horizontal'}})}}
            <div class="form-group">
             <div class="col-lg-2">
                {{ form_label(formmenu.menufile,'Fichier CSV') }}
             </div>
            <div class="col-lg-10">
                {{ form_widget(formmenu.menufile) }}
            </div>
        </div>
    {{ form_end(formmenu) }}
    </div>
</div>
<div class="formbloc">
    <div class="white_title">
        <h4 class="center">Gestion des codes</h4>
     </div>
   <div class="white">
    {{form_start(formcode,{'attr':{'class':'form-horizontal'}})}}
            <div class="form-group">
             <div class="col-lg-2">
                {{ form_label(formcode.codefile,'Fichier CSV') }}
             </div>
            <div class="col-lg-10">
                {{ form_widget(formcode.codefile) }}
            </div>
        </div>
    {{ form_end(formcode) }}
    </div>
</div>

{% endif  %}
    <div class="white formbloc center">
 
 <a href="{{ path('prestataire') }}" class="btn btn-info">  Accueil </a>
    
</div>

{% endblock %}
