{% extends '::base.html.twig' %}

{% block body -%}
    <div class="white_title">
        <h4 class="center">Infos Prestataire</h4>
  </div>
<div class="white formbloc">
    <table class="table presentation">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ prestataire.id }}</td>
            </tr>
            <tr>
                <th>Nom du prestataire</th>
                <td>{{ prestataire.nompresta }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ prestataire.startpresta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ prestataire.endpresta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Type du prestataire</th>
                {% if prestataire.type == '1' %}
                <td>un seul code par commande dans l'email</td>
                {% else %}
                 <td>plusieurs codes par commande dans l'email</td>
                {% endif%}
            </tr>
            <tr>
                <th>Nombre de codes </th>
                <td><b style="color:#006491">{{ prestataire.getNbreCodeTotal }}</b></td>
            </tr>
        </tbody>
    </table>
</div>
{% if prestataire.getmenusPresta is not null %}
<div class="white_title">
        <h4 class="center">Menus par magasin</h4>
  </div>
<div class="white">
    <table class="table">
        <thead>
            <tr>
                <th>N° Magasin </th>
                <th>Menu 1 </th>
                <th>Menu 2 </th>
                <th>Menu 3 </th>
                <th>Menu 4 </th>
            </tr>
        </thead>
        <tbody>
        {% for menu in prestataire.getmenusPresta %}
            <tr>
                <td>{{menu.magnum}}</td>
                <td>{{menu.menu1}} </td>
                <td>{{menu.menu2}}</td>
                <td>{{menu.menu3}}</td>
                <td>{{menu.menu4}}</td>
            </tr>
         {% endfor %}   
        </tbody>
    </table>
</div>
{% endif %} 
<div class="white formbloc center">
 <a href="{{ path('prestataire_edit', { 'id': prestataire.id }) }}" class="btn btn-info">Modifier</a>
 
 <a href="{{ path('prestataire') }}" class="btn btn-info">  Accueil </a>
    
</div>

{% endblock %}
