{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Prestataire</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestataire.id }}</td>
            </tr>
            <tr>
                <th>Nompresta</th>
                <td>{{ prestataire.nompresta }}</td>
            </tr>
            <tr>
                <th>Startpresta</th>
                <td>{{ prestataire.startpresta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endpresta</th>
                <td>{{ prestataire.endpresta|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('prestataire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('prestataire_edit', { 'id': prestataire.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_formpresta) }}</li>
</ul>
{% endblock %}
