{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Menus list</h1>

    <table class="records_list" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prestataire</th>
                <th>Magnum</th>
                <th>Menu1</th>
                <th>Menu2</th>
                <th>Menu3</th>
                <th>Menu4</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menus_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.prestataire.nompresta }}</td>
                <td>{{ entity.magnum }}</td>
                <td>{{ entity.menu1 }}</td>
                <td>{{ entity.menu2 }}</td>
                <td>{{ entity.menu3 }}</td>
                <td>{{ entity.menu4 }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menus_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <!--  <li>
                       <a href="{{ path('menus_edit', { 'id': entity.id }) }}">edit</a> 
                    </li> -->
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menus_new') }}">
                Ajouter des menus 
            </a>
        </li>
        <li>
            <a href="{{ path('menus_replace') }}">
                Remplacer des menus
            </a>
        </li>
    </ul>
    {% endblock %}
