{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Menus Remplacer</h1>
{{ form_start(form) }}
   	{{ form_label(form.menufile) }}
    {{ form_errors(form.menufile) }}
    {{ form_widget(form.menufile) }}

    {{ form_label(form.prestataires) }}
    {{ form_errors(form.prestataires) }}
    {{ form_widget(form.prestataires) }}
    <input type="hidden" value="replace" name="replace"/>
{{ form_end(form) }} 
   
        <ul class="record_actions">
    <li>
        <a href="{{ path('menus') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
